.empty-state-signin{
    display: flex;
height: 120px;
padding: 16px;
position: relative;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
border-radius: 24px;
background: #ECECEC;
overflow: hidden;
}

.empty-state-signin svg {
    width: 72px;
    height: 72px;
}
.no-recipe{
    display: flex;
        width: 100%;
height: 120px;
padding: 24px 16px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 24px;
background: #ECECEC;
}
@media (min-width: 768px) {
    .empty-state-signin svg:nth-of-type(1) {
        width: 89px;
        height: 89px;
    }
    .empty-state-signin svg:nth-of-type(2) {
        width: 87px;
        height: 87px;
    }
    .empty-state-signin svg:nth-of-type(3) {
        width: 89px;
        height: 89px;
    }
    .empty-state-signin svg:nth-of-type(4) {
        width: 95px;
        height: 95px;
    }
}