.menu-container{
    width:100%;
    border-radius: 24px;
background: #FFF;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 8px;
    margin: 0;
    list-style: none;
}
.menu-link{display: flex;
padding: 8px 16px;
justify-content: space-between;
border-radius: 16px;
align-items: center;
background: #FFF;
align-self: stretch;
position: relative;
cursor: pointer;
transition: background-color 0.2s ease;
text-decoration: none;
color: inherit;
}

.menu-link:hover {
    background-color: rgba(196, 196, 196, 0.15);
}

.menu-link:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    pointer-events: none;
}

.menu-tag{display: flex;
align-items: center;
gap: 8px;}



.subtag-wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
}

.subtag{
display: flex;
padding: 6px 8px 8px 8px;
justify-content: center;
align-items: center;
border-radius: 8px;
background: #FFD5F6;
color: #f04dcc;
}

.app-version{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: rgba(0, 0, 0, 0.55);
}

@media (max-width: 640px) {
    .container.layout-sm {
        padding: 0px 16px;
    }
}