.nav-left{
    display: flex;
align-items: center;
gap: 16px;
position: absolute;
}
.nav-logo{display: flex;
    align-items: center;
    height: 100%;}

.nav-center{
    display: flex;  
justify-content: center;
align-items: center;
position: absolute;
left: 50%;
transform: translateX(-50%);
max-width: 240px;
}
.nav-right{
    display: flex;
    justify-content: flex-end;
align-items: center;
gap: 16px;
position: absolute;
right: 0;
}
.food-name{
    display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
line-clamp: 1;
overflow: hidden;
text-overflow: ellipsis;
}
.profile-button{
   border-radius: 50%; 
   border: 1px solid #F04DCC;
}

.profile-initial{
    display: flex;
padding: 3px 12px 10px 12px;
flex-direction: column;
align-items: center;
 width: 36px;
 height: 36px;
border-radius: 200px;
border: 2px solid #FFF;
background: #FFD5F6;
color:#F04DCC;
}

.auth-buttons{
    display: flex;
justify-content: flex-end;
align-items: center;
gap: 16px;
}